$icon-font-path: "../styles/fonts/"; // Change the path to the fonts

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Josefin+Sans:100,400|Audiowide|Quando);
@import "compass";

$page-color : #585259;
$text-color : #F2F2F2;
$panel-color : #8C8189;
$special-color : #263129;
$special-accent-color : #252126;

@import "features";

html {
  width: 100%;
  height: 100%;

  @include background-image(radial-gradient(100% 100% at 50% 50px, lighten($page-color, 5%), $page-color));
}

body, html {
  padding: 0;
  margin: 0;

  color: $text-color;
  text-shadow: 0 1px 1px $special-color;
  font-family: 'Playfair Display', serif;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

:link, *[onclick] {
  transition: all .3s;
}

.active {
  transition: all .2s;
}

header {
  overflow: hidden; // Break margin-collapse of inner elements

  h1 {
    margin: 20px auto 100px;

    font-family: 'Audiowide', cursive;
    font-size: 600%;
    text-align: center;

    :link:hover {
      text-shadow: 0 1px 20px $special-color;
    }
  }

  :link, :active, :visited, :hover {
    color: inherit;
    text-decoration: none;
  }

  nav {
    height: 60px;

    text-align: center;

    :link, :active, :visited {
      display: inline-block;
      height: 100%;
      padding: 0 2em;

      font-family: 'Josefin Sans', sans-serif;
      font-size: 200%;

      vertical-align: middle;

      &:after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1px;
        vertical-align: middle;
      }
      &:hover {
        @include box-shadow(0 0 6px rgba(0, 0, 0, 0.2));
      }
      &.active {
        background: $panel-color;

        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
      }
    }
  }
}

main {
  padding: 5em 2em;

  @include box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  background: $panel-color;

  :link, :active, :visited {
    color: $special-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
