<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <display-name>${project.name}</display-name>

    <!-- Application Filter Definitions And Mappings -->
    <filter>
        <filter-name>GuiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>GuiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Application Event Listeners -->
    <listener>
        <listener-class>com.lyndir.lhunath.grantmywishes.webapp.listener.OmicronGuiceContext</listener-class>
    </listener>

</web-app>
