<header>
    <h1>Omicron</h1>
    <nav>
        <ul>
            <li>Player</li>
            <li>Game</li>
            <li>Map</li>
            <li>Unit</li>
        </ul>
    </nav>
</header>
<main>
    {{outlet}}
</main>
