<header>
    <h1>{{#link-to 'index'}}Omicron{{/link-to}}</h1>
    <nav>
        {{#link-to 'player'}}Player{{/link-to}}
        {{#link-to 'game'}}Game{{/link-to}}
        {{#link-to 'map'}}Map{{/link-to}}
        {{#link-to 'unit'}}Unit{{/link-to}}
    </nav>
</header>
<main>
    {{outlet}}
</main>
