<h1>About</h1>
<p>Omicron is a turn-based strategy game with a big focus on creativity and surprise strategies.</p>

<p>To begin a new game, first make sure your player is all set up by going to the {{link-to "player"}} tab, then go to the {{link-to "game"}} tab to create a new game or join an existing one.</p>
